{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="loading hide">
        <div class="loading-content">
            <h1>Loading...</h1>
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </div>
    </div>

    <div class="jumbotron">
        <h2 class="sub-header">IATI Activity Merge Tool</h2>
        <p class="lead">Merge multiple IATI activity files</p>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">
                    <a class="accordion-toggle">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form method=post enctype=multipart/form-data>
                        <div class="form-group">
                            <label class="control-label"
                                for="id_original_file">Upload multiple
                                Activity Files
                                (.xml)
                            </label>
                            <div class="row bootstrap3-multi-input">
                                <div class="col-xs-12"><input class="" id="id_original_files" 
                                    type=file name=files[] multiple>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Generate
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="how-to-use">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
    
              <h3 class="heading-in-panel">Using the IATI Activity Merge Tool</h3>
              <p> You can upload multiple IATI Activity files using the file selection tool</a>.</p>
    
              <p>Upon clicking generate, your files will be uploaded, merged, and them immediately returned to you in a new document (named 'merged.xml)'</p>
              <p>Your data is immediately following generation of the new file. And the file can only be downloaded once before it is deleted from the server.</p>
              <p>You can validate the generate file by visiting <a href="https://iati.cove.opendataservices.coop/">IATI CoVE</a>.</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}